# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
**/node_modules/*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


**/dist/*
**/.vs
*.dll
*.pdb
**/Debug/
**/obj
/source/backend/Porta.Portal/Logs/**
**/*.db


**/coverage-html
**/coverage.json
**/coverage-hits.txt
**/Logs/*.log
**/coverage.hits
**/opencovercoverage.xml
**/wwwroot/**/*
**/.idea/**

**/*.sln.DotSettings.user
**/*.sln.DotSettings.user
**/~*.xlsx
**/coverage.opencover.xml
**/node_modules-old/*
source/ui/angular/src/environments/config.ts
source/ui/angular/coverage/*
/source/xteam ui test automation/Libs/
/source/xteam ui test automation/bin/
/source/xteam ui test automation/Reports/
